
.light{
    width: 7.5%;
   opacity: 0.8;
    transform: translate3d(280px,-180px,100px);
    animation: light ease 1.7s forwards;
}
@keyframes light{
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        height: 10%;
        width: clamp(50px,8vw,10vw);
       
        
    }
}

.ai-mode{
    opacity: 1;
   
    object-fit: cover;
    height: 100%;
}

.aiX{
    height: 85%;
    padding: 0;
    display: flex;
    
    
}

.first{
    width: 52%;

}

.second{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin: 0%;
}

.light-icon{
    width: 40vw;
    object-fit: fill;
    
}

.ai-place{
    display: flex;
    
    width: 13%;
    padding: 0%;
    height: 10%;
    margin: 1%;

    border-radius: 80px;
    border-radius: 50px;

}
.up-first{
    display: flex;
    
}
.info{
    width: 80%;
    height: 8vh;
  
    margin-left: 10px;
    animation: stratch ease 0.5s forwards;
box-shadow: 0px 0px 3px 1px rgb(138, 134, 134);    
   
}
@keyframes stratch{
    to{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2%;
 width: 80%;
 margin-top: 2%;
    height: 86vh;
 border-radius: 10px;

    margin-left: 10px;
    
    
    
    }
}

.message{
height: 88%;
width: 94%;
overflow-y: scroll;
scrollbar-width: none;


}
.message::before{
    height: 88%;
width: 94%;
overflow-y: scroll;
scrollbar-width: none;
    
opacity: 0.1;
}
.input-box{
width: 94%;
margin-top: 1%;
height: 9%;
display: flex;
align-items: center;
justify-content: center;

}
.input{
width: 80%;
padding-left: 2%;
color: aliceblue;
height: 100%;
background:linear-gradient(to right,rgb(238, 182, 238),rgb(163, 163, 240));
border-radius: 10px;

}
.button{
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    height: 100%;
    background-color: rgb(176, 123, 189);
    border-radius: 10px;
}
button:active{
    transform: scale(0.98);
}


.answer-div{
    display: flex;
    align-items: center;
    
}
.ai-picture{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 99.6%;
    height: 30vh;
    padding: 0%;
    margin-left: 0.2%;
    margin-top: 4%;
    margin-bottom: 4%;
   box-shadow: 0px 0px 3px 1px rgb(138, 134, 134);  
    border-radius: 10px;
    
}

.other-img{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
    scrollbar-width: none;
    
}
.small-img{
width:100%;
object-fit:cover;
border-radius: 10px;
height: 90%;
}
.small-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height:27vh;

    
    border-radius: 10px;
}

.avatarUser{
    width: 14%;
    margin-right: 2%;
}
.textMessage{
    color: aliceblue;
    min-width: 0;
    overflow-wrap: break-word;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-place{
    width: 15%;
    display: flex;
    align-items: start;
    padding: 1%;
    justify-content: center;
    opacity: 0;
    height: 15%;
    margin-left: 40%;
    margin-top: 40%;
    animation: pic ease 5s forwards;
    overflow-y: scroll;
    scrollbar-width: none;
}
@keyframes pic{
    to{
   
     opacity: 1;
    width: 85%;
    margin-top: 4%;
    height: 86vh;
    border-radius: 6px;
    margin-left: 0%;
    animation: pic ease 2s forwards;

    }
}

.result-img{
    width: 90%;
    height: 90%;
    object-fit:contain;
    
}


.welcom{
    display: flex;
    flex-direction: column;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: clamp(11px,1.3vw,2vw);
    justify-content: center;
    color: antiquewhite;
    animation: showwords ease 2s forwards;
    transform: scale(0.4);
}
@keyframes showwords{
    to{

    display: flex;
    flex-direction: column;
    transform: scale(1);
    width: 100%;
    height: 100%;
    font-size: clamp(11px,1.3vw,2vw);
    justify-content: center;
    color: antiquewhite;
    opacity: 1;
    

    }
}

.first-word{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #27272b;
    font-weight: 700;
    margin-bottom: 2%;
}
.seconde-word{
    display: flex;
    align-items: center;
    justify-content: center;
      color: #27272b;
      font-size: 16px;
    font-weight: 700;
    margin-bottom: 2%;
    text-align: center;
}

.ai-result{ 
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
 height:100%
}
.email-iconai{
    width: 80%;
    rotate: -20deg;
}

 @media screen and (max-width: 685px) {
 .other-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
    margin-right: 3%;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    gap: 0;
    
}
.aiX{
    height: 75dvh;
    overflow: scroll;
    padding: 0;
    width: 100%;
    display: flex;
    border-left: solid 1px rgb(183, 35, 241);
    
    
}

.small-img{
width:100%;

border-radius: 10px;
height:30vh;
}
.ai-picture{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 99.6%;
    height: 65vh;
    padding: 0%;
    margin-left: 0.2%;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0px 0px 3px 1px rgb(138, 134, 134);  
    border-radius: 10px;
    
    
}
.ai-mode{
    opacity: 1;
   
    object-fit: cover;
    height: 74%;
}
.ai-place{
    width: 0px;


}
.small-btn-img{
    
  width:80%;
    padding:0;
    
    margin-bottom:4%;
    height:auto;
}
.top{
    color: #030305;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 25%;
}
.ai-result{ 
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:start;
 gap: 0;
 height:100%;
 
}

.result-img{
    width: 100%;
    height: 45%;
    margin: 0;
    object-fit:contain;
}


.input-box{
width: 100%;
height: 14%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
background-color: brown;

}
.input{
  
width: 100%;
color: rgb(0, 0, 0);
height: 100%;
background-color: #f5f5fa;
border-radius: 3px;


}
input.textarea,select{
    font-size: 16px;
}
.button{
    width: 100%;
    color: white;
    height: 100%;
    background-color: rgb(183, 124, 190);
    margin-left: 0%;
    border-radius: 3px;

    
  
}
button:active{
    transform: scale(0.98);
}
.first-word{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    font-size: 11px;
    text-align: center;
}
.seconde-word{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    font-size: 11px;
    text-align: center;
}

.light{
    width: 7.5%;
   opacity: 0.8;
    transform: translate3d(280px,-180px,100px);
    animation: light ease 1.7s forwards;
}
@keyframes light{
    to{
        opacity: 1;
        
        transform:translate3d(240px,10px,0);
        height: 10%;
        width: clamp(50px,8vw,10vw);
       
        
    }
}
.first{
    width: 100%;
}
.second{
    width: 0%;
}
.info{
    width: 100%;
    height: 8vh;
    animation: stratch ease 0.5s forwards;
    
   
}
@keyframes stratch{
    to{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2%;
 width: 100%;
 margin-top: 2%;
    height: 70dvh;
 
    margin-right: 10px;
    border-radius: 3px;
    
    
    
    }
}
 }
 