*{
    box-sizing:border-box;
}
.body{
    font-size: 16px;
}
.dash-box{
    
    height: 100vh;
    width: 100vw;
background: linear-gradient(135deg,#f0e5ee, #F5F1FF,#F8FAFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    display: flex;
    
}




.right-side{
    opacity: 0;
  transform:translateY(-30px);
  animation: show 3s ease forwards;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
    width: 15%;
    height: 100%;
    backdrop-filter: blur(2px);
}   
@keyframes show {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;    
    height: 18%;
    border-bottom: solid 2px rgb(147, 15, 165);
    
}


.user-name{
font-weight:bolder;
    color: rgb(0, 0, 0);
}
.user-name2{
   font-weight: bolder;
    color: rgb(221, 200, 200);
}
.plan{
    background-color: #ebcafd;
    color: #8108f3;
    border-radius: 6px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4%;
    font-size: 12px;
    font-weight: 500;
}
.picture-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
     height: 25%;
    
    width: 100%;
    padding-bottom: 1.6%;
     border-radius: 5px;
     
     box-shadow: 0px 0px 3px 1px rgb(218, 217, 217);
     margin-bottom: 1%;
}
.text{
    color: rgb(0, 0, 0);
    display: flex;
    align-self: center;
   font-weight: bolder;
}
.text2{
        color: rgb(221, 200, 200);
        font-weight: bolder;
}
.avatar{
    object-fit:fill;
    margin-top: 1%;
    width: 30%;
    
}
/* 
.progress{
     height: 60%;
     background-color: #a685ff;
     display: flex;
     align-items: center;
     flex-direction: column;
    justify-content: center;
    
    
} */


.still{
    display: flex;
    flex-direction: column;
    height: 40%;
    

}
.first-still{
    display: flex;
    border-radius: 5px;
    margin-top: 1%;
    height: 30%;
    
    box-shadow: 0px 0px 3px 1px rgb(218, 217, 217);
}
.all-pic-div{
    width: 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.first-still-2{
     margin-top: 1%;
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: space-between;
    padding: 6%;
    background-color: #511483;
}
.therd-still{
    margin-top: 3%;
    display: flex;
    height: 30%;
    color: rgb(0, 0, 0);  
  align-items: center;
    box-shadow: 0px 0px 3px 1px rgb(218, 217, 217);

    
    
}

.deletebtn{
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8%;
    border: solid red 1px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
    height: 100%;
    color: rgb(233, 63, 63);
    background-color: #f0e0e0;
    width: 100%;
}
.cancel{
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: solid rgb(91, 118, 238) 1px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
    height: 100%;
    color: rgb(63, 171, 233);
    background-color: #d7dbe6;
    width: 100%;
}

.deletebtn:active{
    color: white;
    background-color: #eb663d;
}
.images-word{
    font-weight: 500;
    color: #494848;
}
.images-word-2{
color: rgb(221, 200, 200);
    
    font-family:"Inter", sans-serif;
}
.capacity{
    display: flex;
    align-items: center;
    height: 100%;
}
.count-up-text2{
    color: rgb(0, 0, 0);
    margin-left: 4%;
}
.count-up-text{
    margin-left: 4%;
    color: #000000;
    font-weight: 700;
}
.imgview{
    height: 100%;
    width: 100%;
}
.logout{
    padding: 1%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logout-btn{
    display: flex;
    align-items: center;
    padding-left: 13%;
    color: #fdfdfd;
    width: 100%;
    height: 25%;
    background-color: #b862f1;
    border-radius: 5px;
}
.logout-icon{
    width: 45%;
    margin:0%;
}
.logout-btn:hover{
      color: #ffffff;
    
    background-color: #839bea;
}


/* middel page */
.middel-page{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
}
.search{
    height: 12%;
    backdrop-filter: blur(6px);
    display: flex;
    
    justify-content: center;
    align-items: start;
    margin-left: 0.7%;
    border-radius: 10px;
   box-shadow: 0px 0px 3px 1px rgb(165, 162, 164);
}
.photo-div{
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: #b3adad solid 1px;
}
.search-btn{
    height: 70%;
    background-color: rgb(0, 0,0, 0);
    
}
.cloud-img{
    opacity: 0;
    transform: translateX(-30px);
    animation: icon 4s ease forwards;
    object-fit: cover;
    height: 60%;
}
.icon-information{
font-size: 14px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all-pic{
     display:grid;
    grid-template-columns: repeat(7,1fr);
        align-content: first baseline;

    overflow-y: scroll;
    scrollbar-width: none;
    height: 90%;
    
    padding: 1%;
     backdrop-filter: blur(6px);
    margin: 0.6%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(188, 183, 192);
    
}

.checkbox{
    position: absolute;

    z-index: 1;
   
    
}



.image{
    object-fit:cover;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: pic ease 2s;
    
     
    
}




.search-btn:active{
    scale: 0.95;
}


.picture-box{
    width: 98%;
    height: 20vh;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    transition: ease 0.4s;
    

}
.picture-box:hover{
    transform: scale(1.04);
}


.pro-txt{
   
    font-family:"Inter", sans-serif;
   font-size:16px;
   font-weight: bolder;
    color:rgb(147, 15, 165);
}
.pro-txt2{
   
    font-family:"Inter", sans-serif;
   font-size:13px;
    color:rgb(147, 15, 165);
    margin-right: 2%;
}
.mb{
    color:rgb(147, 15, 165);
    font-size:14px;
}
.gb{
 font-size: 14px;   
}
@keyframes icon{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.ai-img{
    width:50%;
}
.powered{
color: #535351;
font-weight: 200;
}

@media(max-width:880px){
    .plan{
    background-color: #ebcafd;
    color: #8108f3;
    border-radius: 6px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4%;
    font-size: 10px;
    font-weight: 500;
    margin-top: 2%;
}

    .right-side{
    opacity: 0;
  transform:translateY(-30px);
  animation: show 3s ease forwards;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
    width: 30%;
    height: 100%;
    backdrop-filter: blur(2px);
}   
.count-up-text{
    margin-left: 4%;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
}
.cancel{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: solid rgb(91, 118, 238) 1px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
    height: 70%;
    color: rgb(63, 171, 233);
    background-color: #d7dbe6;
    width: 100%;
}
.search{
    height: 10%;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0.1%;
    border-radius: 10px;
   box-shadow: 0px 0px 3px 1px rgb(165, 162, 164);
}
.all-pic{
     display:grid;
    grid-template-columns: repeat(4,1fr);
    align-content: first baseline;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 85%;
    
    padding: 1%;
     backdrop-filter: blur(6px);
    margin: 0.6%;
    border-radius: 10px;
   box-shadow: 0px 0px 3px 1px rgb(165, 162, 164);
    
}
.images-word{
    font-weight: 500;
    font-size: 10px;
    color: #494848;
}
.picture-box{
    width: 98%;
    height: 12vh;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    transition: ease 0.4s;
    

}
.all-pic-div{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.text{
    color: rgb(3, 2, 2);
    font-size: 12px;
    font-family:"Inter", sans-serif;

}
.logout{
    padding: 1%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logout-btn{
    display: flex;
    align-items: center;
    padding-left: 13%;
    color: #fdfdfd;
    width: 100%;
    height: 25%;
    background-color: #b862f1;
    border-radius: 5px;
}
.logout-icon{
    width: 65%;
    margin:0%;
}
.log-text{
    font-size: 12px;
}
.powered{
color: #535351;
font-size: 12px;
font-weight: 200;
}
.icon-information{
font-size: 12px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    .therd-still{
    margin-top: 10%;
    display: flex;
    height: 22%;
    margin-top: 2.5%;
    width: 100%;
    color: #fdfdfd;
    align-items: center;
    border-radius: 0%;
    
}

    
    .first-still{
    margin-top: 1%;
    display: flex;
    height: 30%;
   
}
.first-still-2{
     margin-top: 1%;
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: space-between;
    padding: 6%;
}
    .delete-pictures-div{
    display:flex;
    align-content:center;
    justify-content:center;
    height:22%;
    width: 100%;
    border-radius: 0%;
}
.deletebtn{
    margin-top: 10%;
    width: 100%;
    height: 70%;
    font-size: 10px;
    border-radius:10px;
}
.mb{
    font-size: 10px;
}
.gb{
    font-size: 10px;
}
.pro-txt{
   
    font-family:"Inter", sans-serif;
   font-size:12px;
   font-weight: bolder;
    color:rgb(147, 15, 165);
}
.pro-txt2{
   
    font-family:"Inter", sans-serif;
   font-size:10px;
    color:rgb(147, 15, 165);
    margin-right: 2%;
}
.cloud-img{
    opacity: 0;
    transform: translateX(-30px);
    animation: icon 4s ease forwards;
    object-fit: cover;
    height: 50%;
}
.progress{
     height: 40%;
     display: flex;
     align-items: center;
     flex-direction: column;
    width: 100%;
    justify-content: start;
    
}
.text{
   
    color: rgb(3, 2, 2);

    
    font-family:"Inter", sans-serif;

}
.text2{
        padding-top: 10%;



    color: rgb(221, 200, 200);
    
    font-family:"Inter", sans-serif;

}

}
@media (min-width: 680px) and (max-width: 740px) {
    .text{
    padding-top: 10%;
    color: rgb(68, 57, 57);
    font-family:"Inter", sans-serif;

}
.text2{
        padding-top: 10%;



    color: rgb(221, 200, 200);
    
    font-family:"Inter", sans-serif;

}
.powered{
color: #fffcdc;
}

}
.robot-icon{
    height:60%;
    display:flex;
    align-items:center;
    flex-direction:column;
}





/* dialog-part */

.dialog{
    position: absolute;

    left: 15%;
    
    width: 70%;
    height:86%;
    border-radius: 20px;
    opacity: 0;
    animation: showDialog ease 0.3s forwards;
    backdrop-filter: blur(20px);
    transform: scale(0.2);


}
.dialog::backdrop{
    backdrop-filter: blur(3px);
    
}
@keyframes showDialog{
to{
    opacity: 1;
    transform: scale(1);
   background:linear-gradient(to right,rgb(238, 215, 243),rgb(208, 218, 236));
}
}
.up-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: solid rgb(146, 185, 221);
    padding-bottom: 4%;
}
.d-div{
    width: 4.5%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    border-radius: 8px;
}
.d-div:active{
   box-shadow: 0px 0px 6px 1px rgb(248, 2, 2);
   transform: scale(0.9);
}
.mid-box{
height: 40%;

margin-top: 1%;
}
.lst-box{
    display: flex;
    padding-top: 6%;

    flex-direction: column;
     height: 50%;
}
.progres-upload{
    display: flex;
    align-items: center;
   height: 50%;

}
.upload-btn{
height: 17vh;
display: flex;
justify-content: space-between;
align-items: end;

}

.click-upload-button{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(136, 132, 132);
    width: 100%;
    
}
.data-cloud-icon{
    height: 70%;
    width: 20%;
}
/* //picture-map */
.pictures-maping{
    display: flex;
    height: 90%;
    width: 100%;
    margin-right: 2%;
   
}
.picture-info-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    gap: 0.6%;
     overflow-y: scroll;
     scrollbar-width: none;
     padding: 0.5%;
     align-content: first baseline;
}
.picture-info-left{
    display: flex;
    flex-direction: column;
    
    width: 40%;
    padding-left: 2%;
    
}
.num-size{
    width: 100%;
    height: 35%;
    border-bottom:solid 1px coral;
    margin-bottom: 2%;
}
.small-boxes{
    height: 20vh;
    background-color: #24243e;
    position: relative;
    
}
.img-ready-to-upload{
    height: 20vh;
   
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.delete-pictures-div{
    display:flex;
    align-content:center;
    justify-content:center;
    height:22%
}

.delete-btn{
    padding: 0.2%;
   position: absolute;
    left: 86%;
    top: 2%;
    width: 16%;
    color: #ff002b;
    z-index: 2;

}
.remove-icon{
    width: 80%;
}
.btn-img-hundel{
    color: #fafafa;
    padding: 1%;
    width: 40%;
    height: 50%;
    background-color: #a3b3e6;
    border-radius: 10px;
}
.btn-img-hundel:active{
    transform: scale(0.98);
    background-color: #7f94d8;

    
}

.check{
    width: 2%;
    height: 15%;
    margin-left: 1%;
    margin-top: 10px;

    
}

/* ai effect side */



.delete-box{
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
}
.delete-1-pic{
    width: 49%;
    border-radius: 10px;
    background-color: hsl(120, 53%, 93%);
    height: 100%;
    color: rgb(49, 138, 22);
    border: rgb(0, 255, 42) solid 1px;
}
.delete-all-pic{
    width: 49%;
    border-radius: 10px;
    background-color: hsl(0, 100%, 90%);
    height: 100%;
    color: rgb(240, 2, 2);
    border: red solid 1px;
}
.delete-1-pic:active{
    transform: scale(0.98);
    background-color: #ff002b;
    color: #0f0c29;
}
.progress-upload{
    height:5vh;
    
    background-color:rgb(24, 156, 218);
    border-radius:2px;
    width:90%;
}
/* dialog-delete */
.dialog-delete{
    width: 30%;
    height: 30%;

        background:rgb(235, 170, 170);

    border-radius: 10px;
}
.dialog-note{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-btn{
    display: flex;
    align-items: end;
    height: 50%;
    width: 100%;
}
.confirm-btn{
    background-color: #359aec;
    color: white;
    height: 49%;
    border-radius: 6px;
    width: 49%;
    margin-right: 1%;
}
.confirm-btn:active{
    background-color: #6af175;
    color: #0f0c29;
}
.delete-all-text{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:650px) {
    .picture-info-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 60%;
    gap: 0.6%;
     overflow-y: scroll;
     scrollbar-width: none;
     padding: 0.5%;
     align-content: first baseline;
}
    .small-boxes{
   height: 10vh;
    background-color: #24243e;
    position: relative;
    
}
.progres-upload{
    display: flex;
    align-items: center;
   height: 50%;

}
.upload-btn{
height: 17vh;
display: flex;
justify-content: space-between;
align-items: end;

}
.img-ready-to-upload{
    height: 10vh;
   
    
    object-fit: cover;
    z-index: 1;
}
    .dialog-delete{
    width: 55%;
    height: 25%;

    background:linear-gradient(rgb(98, 88, 235),rgb(218, 93, 211));
    border-radius: 10px;
}
    .delete-all-text{

    font-family:"Inter", sans-serif;
}
.btn-img-hundel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 40%;
    height: 4vh;
    color: #511483;
    border-radius: 10px;
    border: #f086d5 solid 1px;
    background-color: #adbbc4;
}
    .lst-box{
    display: flex;
    padding-top: 30%;

    flex-direction: column;
     height: 50%;
}
    .dialog{
    position: absolute;

    left: 15%;
    
    width: 70%;
    height:60%;
    border-radius: 20px;
    opacity: 0;
    animation: showDialog ease 0.3s forwards;
    backdrop-filter: blur(20px);
    transform: scale(0.2);
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.d-div{
    width: 7%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    border-radius: 8px;
}
.delete-1-pic{
    width: 49%;
    border-radius: 10px;
    background-color: hsl(120, 53%, 93%);
    height: 70%;
    color: rgb(49, 138, 22);
    border: rgb(0, 255, 42) solid 1px;
    font-size: 14px;
}
.delete-all-pic{
    width: 49%;
    border-radius: 10px;
    background-color: hsl(0, 100%, 90%);
    height: 70%;
    color: rgb(240, 2, 2);
    border: red solid 1px;
    font-size: 14px;
}
}