*{
    box-sizing:border-box;
    min-width: 100wh;
}

.body-2{
height: 100dvh;
width: 100%;
margin: 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-size:contain;
background-image: url('/cloud-back.jpg');


}

.big-box{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100%;
max-height: 750px;
backdrop-filter: blur(30px);
margin: 0;
border-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgb(146, 155, 156);
width: 70%;
max-width: 550px;

}
.home-button{
   width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  height: 10%;

}
.home-btn{
background: linear-gradient(to right, #f59bfc, #c9dffd);  /* Chrome 10-25, Safari 5.1-6 */
  color: #000000;
  padding: 0.6%;
  font-size:16px;
  width: 8%;
  margin-left: 1%;
  border-radius: 10px;

}
.home-btn:hover{
 background: #DCFFBD;  /* fallback for old browsers */
    
  color: #6365ee;
      box-shadow: 0px 0px 15px 5px rgb(196, 227, 233);

}

.email-box-l{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    /* padding-left: 1%; */
}
.email-l{
padding-left: 2%;
height: 83%;
width: 100%;
background-color: rgb(253, 219, 253);
border-bottom: 1px solid rgb(223, 168, 168);


}

.password-l{
padding-left: 2%;
height: 80%;
width: 100%;
background-color: rgb(253, 219, 253);
border-bottom: 1px solid rgb(223, 168, 168);
}


.password-box-l{
    width: 80%;
    margin-top: 2%;
    height: 10%;
    display: flex;
    align-items: center;
    /* padding-left: 1%; */
}
.quastion{
    margin-top: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    

}
.user-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}
.name{
display: flex;
justify-content: start;
align-items: center;
width: 90%;
margin-bottom: 1%;
height: 10%;

}

.user-icon{
    width: 7%;
    height: 2rem;
    margin-right: 10px;
}

 
     .big-box {
  position: relative;
  border-radius: 12px;
}

.login-div{
  width: 60%;
}
        .rainbow-border {
  position: relative;
  width: 100%;
  height: 40px;
color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  padding: 16px;

  border: none;
  margin-top: 30px;
  
border-radius: 50px;
border: solid 1px black;
background:linear-gradient(to right,rgb(252, 56, 177),rgb(240, 164, 164));
  cursor: pointer;



  
}
.rainbow-border:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.wait-icon{
    width: 35%;
    height: 80%;
}
.body-x{
height: 100dvh;
width: 100%;
margin: 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-size:contain;
background-image: url('/cloud-back.jpg');


}
.big-box-x{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 99%;
max-height: 750px;
backdrop-filter: blur(30px);
margin: 0;
width: 100%;
max-width: 100%;

}
.video-box{
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
width: 20%;    
    
}

.errtext-box{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050505;
}
.errtext{
    color: #fb0000;
}

/* 404-error page */
.box-of-err{
width: 100vw;
height: 100vh;
background-color: #0000ff;
}
.err-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* login-page */

.err-text{
    margin-top: 5%;
    color: #f70505;
    font-family:'Courier New', Courier, monospace;
    
}
.textM{
  color: #868686;
  margin-bottom: 1%;
    font-family:amily'Courier New, Courier, monospace';
}

.recover{
  width: 70%;
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
    
.forgot{
width: 80%;
margin-top: 4%;
display: flex;
align-items: center;
justify-content: center;
color: #7a7a80;
}
.foting{
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
  
  transform: translateX(550px);
  animation: icon ease 2s forwards;
}
@keyframes icon {
to{

  transform: translateX(0px);
}
}

@media (max-width: 700px) {
 

.textM{
  color: #868686;
  margin-bottom: 1%;
    font-family:amily'Courier New, Courier, monospace';
}

  



.body-2{
height: 100vh;
         overflow: hidden;

width: 100vw;
margin: 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
background-size:cover;
background-image: url('/cloud-back.jpg');


}
.big-box{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 65%;
backdrop-filter: blur(20px);
border: none ;
margin: 0;
border-radius: 15px;
    
width: 95%;

}

  .email-l,
  .password {
    width: 100%;
    height: 100%;
  }


  .rainbow-border {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
  }

  .quastion {
    margin-top: 1rem;
  }

  .err-text {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
  }
}

@media (max-width:700px) {
  .home-button{
    display: flex;
    align-items: center;
  width: 100%;
  height: 10%;
  padding: 1%;
  margin-bottom: 5%;
  border-bottom: #bf05f7 solid 1px;

}
  .home-btn{
      color: #a71717;
  padding: 2.6%;
  font-size:14px;

  width: 100%;
  border-radius: 10px;

}
}
/* Tablets with common height range */
@media (min-width: 768px) and (max-width: 1024px)
       and (min-height: 1024px) and (max-height: 1366px) {
        
.big-box{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100%;
backdrop-filter: blur(30px);
border: solid black 1px ;
margin: 0;
border-radius: 15px;
    
width: 50%;

}

}
